

<!DOCTYPE html>
<html lang="en">
   <head>

     {% load static %}
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Blog</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'Appblog/css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'Appblog/css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'Appblog/css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'Appblog/images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'Appblog/css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{% static 'Appblog/images/loading.gif' %}" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div  class="head_top">
            <div class="header">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                           <div class="center-desk">
                              <!-- <div class="logo">
                                 <a href="index.html"><img src="{% static 'Appblog/images/logo.png' %}" alt="#" /></a>
                              </div> -->
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                           </button>
                           <div class="collapse navbar-collapse" id="navbarsExample04">
                              <ul class="navbar-nav mr-auto">
                                 <li class="nav-item">
                                    <a class="nav-link" href="{% url 'Home' %}"> Home  </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#about">About</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="{% url 'List' %}">Ver posts</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="{% url 'PostFormulario' %}">New post</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="{% url 'BusquedaPost' %}">Buscar</a>
                                 </li>
                                 {% if not request.user.is_authenticated %}
                                 <li class="nav-item">
                                    <a class="nav-link" href="{% url 'Login' %}">Iniciar</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="{% url 'Register' %}">Registrarse</a>
                                 </li>
                                 {% endif %}

                                 {% if request.user.is_authenticated %}
                                 <li class="nav-item">
                                    <a class="nav-link" href="{% url 'EditarPerfil' %}">Editar Perfil</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="{% url 'avatarView' %}">Ver Foto</a>
                                 </li>
                                 <a class="nav-link" href="{% url 'Logout' %}">Salir</a>
                                 <p class="text-muted small mb-4 mb-lg-0">Hola, {{user.username}}.</p>   
                                 {% endif %}
                              </ul>
                           </div>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end header inner -->
            <!-- end header -->
            <!-- banner -->
            <section class="banner_main">
               <div class="container">
                  <div class="row d_flex">
                     <div class=" col-xl-8 col-lg-8 col-md-8 col-12-9">
                        <div class="text-bg">
                           <h1>Blog<br> <span class="white1">Experiencias de viaje y gastronomía</span></h1>
                           <p></p>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-12-3">
                        <div class="text-img">
                           <figure><img src="{% static 'Appblog/images/box_img.png' %}" alt="#"/></figure>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </header>
            
      {% block contenidoqueCambia %}
         
      {% endblock contenidoqueCambia %}

      <!-- end banner -->
      <!-- blog_main -->
      <!-- <div class="blog_main">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Post</h2>
                     <span>Lista de Post </span>
                  </div>
               </div>
            </div> -->
            <!-- fist section -->
           


      <div id="about" class="about">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="titlepage">
                     <br>
                     <br>
                    <h2>About us</h2>
                 </div>
              </div>
           </div>
        </div>
        <div class="container">
           <div class="row">
              <div class="col-md-12 ">
                 <form class="main_form ">
                    <div class="row">
                       <div class="col-md-12 ">
                           <p>Hola, soy Magali estudiante de Python en Coderhouse.</p>
                       </div>
                    </div>
                 </form>
              </div>
           </div>
        </div>
     </div>

      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 ">
                     <div class="cont">
                        <h3> <strong class="multi"></strong><br>
                           
                        </h3>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <ul class="social_icon">
                        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></i></a></li>
                        <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2019 All Rights Reserved.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static 'Appblog/js/jquery.min.js' %}"></script>
      <script src="{% static 'Appblog/js/popper.min.js' %}"></script>
      <script src="{% static 'Appblog/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'Appblog/js/jquery-3.0.0.min.js' %}"></script>
      
      <!-- sidebar -->
      <script src="{% static 'Appblog/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'Appblog/js/custom.js' %}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
</html>

