<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <link rel="stylesheet" href="{% static 'Appblog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Appblog/css/bootstrap.min.css' %}">
</head>
<body>
    
    <p>Titulo: <i>{{ post.titulo }}</i></p>
    <p>Subtitulo: <i>{{ post.subtitulo }}</i></p>
    <p>Texto: <i>{{ post.texto }}</i></p>
    <p>
        <a href="{% url 'List' %}">Regresar</a>
    </p>


</body>
</html>