<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <link rel="stylesheet" href="{% static 'Appblog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Appblog/css/bootstrap.min.css' %}">

</head>
<body>

  <div class="container">
    
    <p><h2><i>{{ post.titulo }}</i></h2></p>
    <p><h4><i>{{ post.subtitulo }}</i></h4></p>
    <p><h5><i>{{ post.texto }}</i></h5></p>
    <p>
        <a href="{% url 'List' %}">Regresar</a>
    </p>
  </div>

</body>
</html>